@charset "UTF-8";
/* CSS Document */

/* INSIGHT - insight */
/* font */
@font-face {
	font-family: bold Arial;
  /* font-family: 'Open Sans'; */
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/OpenSans.ttf) format('truetype');
}

/* body */
html, body {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#super-cover {
	width: 100%;
	height: 891px; /*+- 12px*/
	position: absolute;
	top: 114px; /*+- 12px*/
	background-color: rgba(255,255,255,1);
	z-index: 20000;
}
#super-spin {
	width: 205px;
	margin-top: 336px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#gears-spin {
	width: 86px;
	height: 86px;
	margin-left: auto;
	margin-right: auto;
}
#gears-txt {
	font-family: Tahoma;
	font-size: 17px;
	color: rgba(30,79,120,1);
}

/* banner */
#nebraskaHeader {
	width: 100%;
	height: 16px;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	background-color: rgba(31,79,120,1);
	box-shadow: 0px 3px 2px rgba(0,0,0,1);
}
#layout-banner {
	height: 118px;
	/* //background-color: rgba(16,80,120,1); */
	background-color: rgba(77,77,79,1);
}
#layout-header {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}
#layout-header-title {
	width: 921px;
	color: rgba(255,255,255,1);
	/* //font-family: Arial; */
	font-family: Montserrat;
	font-weight: 800;
	font-size: 37px;
	float: left;
}
#layout-header-logo {
	width: 249px;
	height: 51px;
	float: right;
}
#layout-header-subtitle {
	color: rgba(210,222,230,1);
	/* //font-family: "Comic Sans MS"; */
	font-family: Montserrat;
	font-weight: 500;
	font-size: 14px;
	clear: left;
}
#layout-header-navigation {
	width: 1170px;
	margin-top: 25px;/*/6px; */
	font-family: Tahoma;
	font-size: 14px;
	float: left;
	font-weight: bold;
}
#layout-header-navigation a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	font-family: Montserrat;
	font-weight: 500;
}
#layout-header-navigation a:hover {
	color: rgba(255,255,0,1);
}
.layout-header-navigation-button {
	width: 100px;  /*//228px;*/
	/* //padding-left: 10px; */
	padding-left: 0px;
	float: left;	
}
#layout-header-navigation-break {
	height: 10px;/*//8px;*/
	/* //background-color: rgba(232,137,5,1); */
	background-color: rgba(186,191,51,1);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,1);
	box-shadow: 1px 1px 4px #888888;	
}
#layout-header-navigation-break-2 {
	height: 10px;
	background-color: rgba(0,96,127,1);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,1);
	box-shadow: 1px 1px 4px #888888;	
}
#layout-header-drop-menu {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}
#layout-header-drop-list {
	width: 240px; 
	height: 30px;
	/* //background-color: rgba(232,137,5,1);  */
	background-color: rgba(186,191,51,1); 
	position: relative;
	float: right;
	box-shadow: 2px 3px 3px #888888;
	right: 0px;  /*//was 50px;*/
}
#layout-header-drop-list:after {
	content: "";
	display: block;
	border-style: solid;
	/* //border-color: rgba(232,137,5,1) transparent ; */
	border-color: rgba(186,191,51,1) transparent ;
	border-width: 30px 0px 0px 30px;
	position: absolute;
	top: 0px;
	left: -30px;
}
#layout-header-drop-list:before {
	content: "";
	display: block;
	border-style: solid;
	/* //border-color: rgba(232,137,5,1) transparent ; */
	border-color: rgba(186,191,51,1) transparent ;
	border-width: 30px 30px 0px 0px;
	position: absolute;
	top: 0px;
	right:-30px
}
#layout-header-drop-text {
	width: 150px;
	/* //font-family: Tahoma; */
	font-size: 18px;
	/* //font-weight: bold; */
	font-family: Montserrat;
	font-weight: 500;
	color: rgba(255,255,255,1);
	float: left;
	margin-top: 4px;
	margin-right: 5px;
	margin-left: 40px;
}
#layout-header-drop-list-arrow a {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid rgba(255,255,255,1);
	float: left;
	margin-top: 14px;
}
#layout-header-drop-list-arrow a:hover {
	border-top: 7px solid rgba(0,0,0,1);
}

/* container */
#layout-main-content {
	width: 1170px;
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	min-height:75%;
}
#layout-main-below-loading-bar {
	width: 345px;
	position: absolute;
	padding: 12px;
	margin-top: 590px;
	margin-left: 388px;
	visibility: hidden;
	z-index: 10000;
	background-color: rgba(0,0,0,0.7);
	border-radius: 12px;
}
#layout-main-below-loading-text {
	font-family: Tahoma;
	text-align: center;
	padding-bottom: 20px;
	font-size: 20px;
	color: rgba(255,255,255,1);
	z-index: 10000;
}
#layout-main-header {
	width: 860px;
	height: 52px; /*2 lines take 34px, 3 lines take 48px*/
	margin-bottom: 12px; /* +- 4px */
	margin-left: auto;
	margin-right: auto;
	float: left;
	/* //font-family: Tahoma; */
	font-family: Roboto;
	font-size: 12px;
	font-weight: bold;
	color: rgba(70,70,70,1);
	display:block;
}
#layout-main-header a {
	color: rgba(97,151,174,1);
	text-decoration: none;
	font-family: Roboto;
}
/* above left */
#layout-main-above {
	clear: left;
}
#layout-main-above-drop-menu {
	width: 280px;
	margin-left: 892px; /* //890px */
	padding-bottom: 12px;
	background-color: rgba(77,77,79,1);
	position: absolute;
	top: 179px;
	z-index: 1000;
	opacity: 0.85;
	visibility: hidden;
}
#layout-header-drop-list {
	visibility: hidden;
}
.layout-main-above-drop-menu-header {
	font-family: Tahoma;
	font-size: 12px;
	color: rgba(255,255,255,1);
	margin-top: 8px;
	margin-left: 15px;
	margin-bottom: 3px;
}
.layout-main-above-drop-menu-button {
	width: 100%
}
.layout-main-above-drop-menu-button:hover {
	background-color: rgba(0,153,255,1);    
	
}
.layout-main-above-drop-menu-button-label a {
	/* //font-family: Tahoma; */
	font-family: Roboto;
	font-weight: 400;
	font-size: 12px;
	color: rgba(255,255,255,1);
	margin-left: 25px;
	text-decoration: none;
}

/* above area */
#layout-main-above-area {
	width: 1167px;
	height: 376px;
	float: left;
	margin-top: 18px;
	background-color: rgba(255,255,255,1);
	border-collapse: collapse;
	border: 2px solid rgba(51,49,31,1);
}
#map {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgba(204,204,204,1);
}
#map-home-button {
	position: absolute;
	z-index: 50;
	opacity: 1.0;
	margin-top: 137px;
	margin-left: 19px;
	visibility: hidden;
}
#map-info {
	width: 34px;
	height: 34px;
	margin-top: 93px;
	margin-left: 19px;
	color: rgba(255,255,255,1);
	font-size: 28px;
	font-family: Tahoma;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	z-index: 50;
	position: absolute;
	text-align: center;
	cursor: pointer;
	visibility: hidden;
}
#map-info:hover {
	background-color: rgba(0,0,0,0.55);
}
#map-scalebar {
	position: absolute;
	z-index: 50;
	opacity: 1.0;
	margin-top: 339px;
	margin-left: 20px;
	visibility: hidden;
}
#map-searchbar {
	display: block;
	position: absolute;
	z-index: 50;
	opacity: 1.0;
	margin-top: 20px;
	margin-left: 919px;
	visibility: hidden;
}
#map-legend {
	width: 120px;
	padding-top: 6px;
	padding-bottom: 0px;
	background-color: rgba(255,255,255,1);
	text-align: center;
	position: absolute;
	font-family: Tahoma;
	font-size: 14px;
	color: rgba(87,88,90,1);
	z-index: 50;
	opacity: 1.0;
	margin-top: 272px;
	margin-left: 1024px;
	border-radius: 5px;
	border: 1px solid rgba(76,76,76,1);
}
#map-legend-label {
	margin-top: 6px;
	margin-right: 6px;
	height: 30px;
	float: right; 
}
#map-basemap-switch {
	width: 110px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: rgba(255,255,255,1);
	text-align: center;
	position: absolute;
	font-family: Tahoma;
	font-size: 14px;
	color: rgba(87,88,90,1);
	z-index: 50;
	opacity: 1.0;
	cursor: pointer;
	margin-top: 325px;
	margin-left: 1034px;
	border-radius: 5px;
	border: 1px solid rgba(76,76,76,1);
	visibility: hidden;
}
#map-outbound {
	width: 180px;
	height: 20px;
	padding-top: 3px;
	text-align: center;
	position: absolute;
	z-index: 50;
	font-family: Tahoma;
	font-size: 14px;
	color: rgba(255,255,255,1);
	background-color: rgba(0,0,0,1);
	opacity: 0.75;
	visibility: hidden;
	margin-top: 176px;
	margin-left: 493px;
}
#map-center {
	width: 6px;
	height: 6px;
	position: absolute;
	z-index: 1000;
	margin-top: 184px;
	margin-left: 580px;
	visibility: visible;
	background-color: rgba(255,0,0,1);
	border-radius: 4px;
	border: 1px solid rgba(0,255,0,1);
}
#map-loading-spin {
	position: absolute;
	z-index: 60;
	opacity: 0.50;
	visibility: hidden;
	margin-top: 160px;
	margin-left: 555px;
}

/* Info Cover */
#layout-info-cover {
	width: 100%;
	height: 1119px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: rgba(255,255,255,0.5);
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	position:absolute;
	z-index: 10000;
	visibility: hidden;
}
#layout-info-cover-introduction {
	width: 720px;
	height: 480px;
	background-color: rgba(145,145,145,1.0);
	border-radius: 12px;
	border: 3px solid rgba(0,0,0,0.3);
	margin-top: 266px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#layout-info-cover-close {
	width: 28px;
	height: 28px;
	margin-left: 702px;
	margin-top: -14px;
	color: rgba(255,255,255,1);
	font-size: 18px;
	font-family: Tahoma;
	background-color: rgba(31,79,120,1.0);
	border-radius: 15px;
	border: 2px solid rgba(255,255,255,0.7);
	text-align: center;
	cursor: pointer;
}
#layout-info-title {
	color: rgba(20,20,20,1);
	font-family: Tahoma;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
#layout-info_text_area {
	width: 680px;
	height: 396px;
	padding: 20px;
	overflow: auto;
}
#layout-info-paragraph {
	color: rgba(40,40,40,1);
	font-family: Tahoma;
	font-size: 14px;	
}

/* below utility */
#layout-main-below {
	padding-top: 18px;
	clear: left;
}
#layout-main-below-break {
	width: 1168px;
	height: 6px;
	background-color: rgba(51,49,31,1);
	border-collapse: collapse;
	border-top: 1px solid rgba(0,0,0,1);
	border-left: 1px solid rgba(0,0,0,1);
	border-right: 1px solid rgba(0,0,0,1);
}
.layout-main-below-navigation-tab {
	height: 44px;
	float: left;
	font-size: 16px;
	font-family: Tahoma;
	color: rgba(255,255,255,1);
}
.layout-main-below-navigation-tab a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
.layout-main-below-navigation-tab a:hover {
	color: rgba(255,255,0,1);
}
.layout-main-below-navigation-tab-label {
	padding-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 13px;
}
#layout-main-below-navigation {
	width: 1168px;
	height: 38px;
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(117,143,158,1.00)),color-stop( 100% , rgba(66,93,111,1.00)));
	background-image: -webkit-linear-gradient(270deg,rgba(117,143,158,1.00) 0%,rgba(66,93,111,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(117,143,158,1.00) 0%,rgba(66,93,111,1.00) 100%);
	border-collapse: collapse;
	border-left: 1px solid rgba(0,0,0,1);
	border-right: 1px solid rgba(0,0,0,1);
}

/* below container */
#layout-main-below-container {
	width: 1168px;
	height: 355px;
	background-color: rgba(160,175,183,1);
	border-left: 1px solid rgba(0,0,0,1);
	border-right: 1px solid rgba(0,0,0,1);
	border-bottom: 1px solid rgba(0,0,0,1);
    float: left;
    margin-bottom: 15px;
}

#layout-main-below-noData {
	position:absolute;	
	padding-top: 20px;
	width: 1168px;
	height: 380px;
	align-items:center;	
	/* object-position: inherit; */
	text-align: center;
	background-color: rgba(160,175,183,1);	
	border-left: 1px solid rgba(0,0,0,1);
	border-right: 1px solid rgba(0,0,0,1);
	border-bottom: 1px solid rgba(0,0,0,1);
    float: left;
    margin-bottom: 15px;
	z-index:3;
	display:block;
}
.nodataView {
	position:absolute;
	padding-top: 18px;
	/* clear: left; */
	width: 1168px;
	height: 350px;
	align-items:center;	
	/* object-position: inherit; */
	text-align: center;
	background-color: rgba(160,175,183,1);	
	border-left: 1px solid rgba(0,0,0,1);
	border-right: 1px solid rgba(0,0,0,1);
	border-bottom: 1px solid rgba(0,0,0,1);
    float: left;
    margin-bottom: 15px;
	z-index: 3;	
}

.nodataView .invisible {
	display:none;
}

.nodataView .message {
	padding-top: 117px;
	font-size: 28px;
	/* padding-top: 50px; */
	font-weight: bold;
	
}

/* below left */
#layout-main-below-left {
	width: 879px;
	height: 355px;
	float: left;
}

/* chart navigation */
#layout-main-below-left-chart {
	width: 859px;
	height: 330px;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	background-color: rgba(255,255,255,1);
	font-family: Tahoma;
}
#layout-main-below-left-chart-navigation {
	width: 100%;
	height: 32px;
	color: rgba(67,67,67,1);
}
#layout-generate-csv-button {
	width: 23px;
	height: 26px;
	padding-left: 8px;
	padding-top: 6px;
    float: left;
    cursor: pointer;
}
#layout-generate-png-button {
	width: 23px;
	height: 26px;
	padding-left: 8px;
	padding-top: 6px;
    float: left;
    cursor: pointer;	
}
#layout-shapefile-download {
	width: 23px;
	height: 26px;
	padding-left: 12px;
	padding-top: 6px;
    float: left;
}
#layout-main-below-left-chart-navi-left {
	width: 99px;
	height: 32px;
	float: left;
}
#layout-main-below-left-chart-navi-right {
	width: 760px;
	height: 32px;
	font-family: Tahoma;
	font-size: 19px;
	float: left;
}
#layout-main-below-left-chart-start {
	border-left: 32px solid transparent;
	border-top: 32px solid rgba(180,225,251,1);
	float: left;
	margin-top: 0px;
}
#layout-main-below-left-chart-select-chart {
	width: 439px;
	height: 32px;
	float: left;
	margin-top: 0px;
	background-color: rgba(180,225,251,1);
	border-right: 2px groove rgba(255,255,255,1);
}
.layout-main-below-select-chart-label {
	float: left;
	margin-top: 4px;
	margin-left: 5px;
	margin-right: 5px;
}
.layout-main-below-select-chart-title {
	margin-top: 4px;
	float: left;
}
.layout-main-below-select-chart-arrow a {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 7px solid rgba(67,67,67,1);
	margin-right: 10px;
	float: right;
	margin-top: 14px;
}
.layout-main-below-select-chart-arrow a:hover {
	border-top: 7px solid rgba(255,153,0,1);
}
#layout-main-below-left-chart-select-season {
	width: 253px;
	height: 32px;
	float: left;
	margin-top: 0px;
	background-color: rgba(180,225,251,1);
	border-right: 2px groove rgba(255,255,255,1);
}
#layout-main-below-left-chart-end {
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 0px;
	background-color: rgba(180,225,251,1);
}

/* drop list */
.layout-main-below-drop-left {
	width: 238px;
	margin-left: 323px;
	padding-top: 4px;
	padding-bottom: 5px;
	background-color: rgba(157,216,250,1);
	position: absolute;
	top: 642px;
	z-index: 1000;
	border-top: 1px solid rgba(128,176,204,1);
	visibility: hidden;
}
.layout-main-below-drop-left-button {
	width: 100%;
}
.layout-main-below-drop-left-button:hover {
	background-color: rgba(16,80,120,1);	
}
.layout-main-below-drop-left-button a {
	color: rgba(67,67,67,1);
	text-decoration: none;
}
.layout-main-below-drop-left-button a:hover {
	color: rgba(255,255,255,1);
}
.layout-main-below-drop-left-button-label {
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 7px;
	margin-left: 10px;	
}

/* chart area */
.layout-main-below-drop-right {
	width: 150px;
	margin-left: 666px;
	padding-top: 4px;
	padding-bottom: 5px;
	background-color: rgba(157,216,250,1);
	position: absolute;
	top: 642px;
	z-index: 1000;
	border-top: 1px solid rgba(128,176,204,1);
	visibility: hidden;
}
.layout-main-below-drop-right-button {
	width: 100%;
}
.layout-main-below-drop-right-button:hover {
	background-color: rgba(16,80,120,1);	
}
.layout-main-below-drop-right-button a {
	color: rgba(67,67,67,1);
	text-decoration: none;
}
.layout-main-below-drop-right-button a:hover {
	color: rgba(255,255,255,1);
}
.layout-main-below-drop-right-button-label {
	font-family: Tahoma;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 7px;
	margin-left: 10px;	
}
#layout-main-below-left-chart-area {
	width: 100%;
	height: 298px;
	clear: left;
	text-align: center;
	opacity: 1.0;
	font-family: Tahoma
}
.no-data-text {
	padding-top: 117px;
	font-size: 28px;
}
.no-data-text-note {
	padding-top: 17px;
	font-size: 20px;
}
#layout-main-below-left-chart-area-above {
	width: 100%;
	height: 268px;
}
#layout-main-below-left-chart-area-below {
	width: 100%;
	height: 30px;
	font-size: 16px;
}
#multi-pie-charts-container {
	width: 859px;
	height: 298px;
	overflow-y: visible;
	overflow-x: hidden;
}
#multi-pie-charts-fixed {
	width: 838px;
	height: 440px;
}
.state-multi-pie-chart-area {
	width: 25%;
	height: 220px;
	float: left;
}
.basin-subbasin-multi-pie-chart-area {
	width: 33.33%;
	height: 298px;
	float: left;
}
.chart-area-above {
	width: 100%;
}
.state-chart-area-label {
	width: 100%;
	font-size: 12px;
}
.state-chart-area-total {
	width: 100%;
	font-size: 12px;
}
.basin-subbasin-chart-area-label {
	width: 100%;
	font-size: 14px;
}
.basin-subbasin-chart-area-total {
	width: 100%;
	font-size: 14px;
}

/* below right */
#layout-main-below-right {
	width: 289px;
	height: 355px;
	float: left;
}
#layout-main-below-right-paragraph {
	width: 269px;
	height: 330px;
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-family: Tahoma;
}
#layout-main-below-right-region-name {
	font-size: 12px;
	color: rgba(255,255,255,1);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 6px;
	background-color: rgba(117,143,158,1);
}
#layout-main-below-right-paragraph-title {
	font-size: 19px;
	color: rgba(0,0,0,1);
	text-align: center;
	padding-top: 3px;
	padding-bottom: 6px;
	font-family: Montserrat;
	font-weight: 400;
}
#layout-main-below-right-paragraph-textarea {
	height: 274px;
	padding-right: 25px;
	font-size: 13px;
	color: rgba(67,67,67,1);
	overflow-y: visible;
	overflow-x: hidden;
	font-family: Roboto;
	font-weight: 400;
}
#layout-main-below-right-paragraph-textarea a {
	color: rgba(199,227,245,1);
	font-style: italic;
	text-decoration: none;
	font-family: Roboto;
	font-weight: 400;
}

/* footer */
#layout-footer-area {
	width: 100%;
	height: 110px;
	clear: left;
	/* //background-color: rgba(199,227,245,1); */
	background-color: rgba(77,77,79,1);
	position: relative;
	margin-top:110px;
}
#layout-footer-content {
	width: 1170px;
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	font-family: Tahoma;
	font-size: 11px;
	/* //color: rgba(16,80,120,1); */
	color: rgba(255,255,255,1);
}
#layout-footer-content a {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
#layout-footer-content a:hover {
	color: rgba(255,255,255,1);
}
#layout-footer-content-left {
	width: 870px;
	float: left;
	padding-top: 7px;
}
#layout-footer-content-left-sign-in a:hover {
	color: rgba(97,151,174,1);	
}
#layout-footer-content-right {
	width: 300px;
	float: right;
	padding-top: 6px;
}

/* overview */
#layout-main-below-left-chart-at-glance {
	width: 100%;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 4px;
	font-size: 15px;
	background-color: rgba(131,145,159,1);
	color: rgba(67,67,67,1);
}
#layout-main-below-left-chart-at-glance-content {
	width: 100%;
	height: 305px;	
	background-color: rgba(147,159,172,1);
}
#glance-table-container {
	width: 310px;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
    display: table;
}
.glance-table-row {
	display: table-row;
}
.glance-table-left {
	width: 155px;
	display: table-cell;
	text-align: right;
	color: rgba(90,90,90,1)
}
.glance-table-right {
	width: 155px;
	display: table-cell;
	text-align: left;
	color: rgba(0,0,0,1)
}
.glance-table-left-cell {
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(164,174,183,1);
}
.glance-table-right-cell {
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-left: 1px solid rgba(164,174,183,1);
	border-bottom: 1px solid rgba(164,174,183,1);
}
#glance-table-average {
	width: 464px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 4px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 3px;
	font-size: 15px;
	background-color: rgba(131,145,159,1);
	color: rgba(67,67,67,1);
}
#glance-table-average-container {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
    display: table;
}
.glance-table-head {
	width: 79px;
	text-align: right;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(164,174,183,1);	
	color: rgba(90,90,90,1);
}
.glance-table-head2 {
	width: 139px;  /* //79px */
	text-align: right;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(164,174,183,1);	
	color: rgba(90,90,90,1);
}
.glance-table-head-col {
	width: 161px;
	text-align: center;
	padding-top: 1px;
	padding-bottom: 1px;
	border-left: 1px solid rgba(164,174,183,1);
	border-bottom: 1px solid rgba(164,174,183,1);
	color: rgba(67,67,67,1);
}
.glance-table-number {
	width: 87px;
	text-align: right;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-left: 1px solid rgba(164,174,183,1);
	border-bottom: 1px solid rgba(164,174,183,1);
	color: rgba(0,0,0,1);
}
.glance-table-percentage {
	width: 67px;
	text-align: right;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-left: 1px solid rgba(164,174,183,1);
	border-bottom: 1px solid rgba(164,174,183,1);
	color: rgba(0,0,0,1);
}
#glance-table-footer {
	width: 464px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	padding-top: 8px;
	color: rgba(67,67,67,1);
}

/* C3 library */
/*-- Chart --*/
.c3 svg {
  font: 10px sans-serif; }

.c3 path, .c3 line {
  fill: none;
  stroke: #000; }

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid, .c3-event-rect, .c3-bars path {
  shape-rendering: crispEdges; }

.c3-chart-arc path {
  stroke: #fff; }

.c3-chart-arc text {
  fill: #000; /* #fff */
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa; }

.c3-grid text {
  fill: #aaa; }

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.c3-line {
  stroke-width: 1px; }

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.c3-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.c3-bar {
  stroke-width: 0; }

.c3-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1; }

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px; }

.c3-target.c3-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: 0.1; }

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: 0.1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px; }

.c3-legend-item-hidden {
  opacity: 0.35; } /* -- default: 0.5 -- */

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10; }

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.c3-tooltip tr {
  border: 1px solid #CCC; }

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.c3-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777; }

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777; }

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }
  
/* about page */
#layout-main-about-left {
	width: 800px;
	height: 560px; 
	padding-right: 50px;
	font-size: 16px;
	font-family: Tahoma;
	color: rgba(67,67,67,1);
	float: left;
}
#layout-main-about-left a {
	/* color: rgba(97,151,174,1); */
	color: rgb(0, 96, 127,1);
	font-size:1.0em;
	font-weight: 600;
	text-decoration: none;
}
#layout-main-about-right {
	width: 320px;
	height: 289px;
	float: left;
}
.insightLetter {
	font-size: 18pt;
	font-weight: 500;
	color: rgb(0, 96, 127,1);
	/* color: rgb(19, 144, 202); */
}
h2.insightDefinition {
	/* color: rgb(2, 2, 2); */
	color: darkergray;
}

/* modeling page */
#layout-main-content-model {
	width: 1160px;
	margin:0;
	min-height:75%;
	margin-left: auto;
	margin-right: auto;
}
#layout-main-modeling {
	width: 960px;
	height: 560px; 
	font-weight: 600;
	font-size: 20px;
	font-family: Tahoma;
	text-align: left;
	/* color: rgba(67,67,67,1);
	float: left; */
}
#layout-main-modeling a {
	color: rgba(97,151,174,1);
	font-weight: 600;
	text-decoration: none;
}
/* #layout-main-modeling-left {
	width: 202px;
	height: 404px;
	font-weight: 600;
	text-align: left;
} */
/* #layout-main-modeling-right {
	width: 202px;
	height: 404px;
	float: left;
	border: 4px solid rgba(0,0,0,0.7);
} */

/* terminology page */
#layout-main-terminology {
	width: 1290px;
	height: 1460px;
	
	font-weight: 500;
	font-size: 17px;
	font-family: Tahoma;
	float: left;
}
#layout-main-terminology a {
	/* color: rgba(97,151,174,1); */
	color: black;
	font-weight: 800;
	text-decoration: none;
}
.termText {
	font-size: 14px;
	margin-bottom: 8px;
}
.helpText {
	font-size: 12px;
	text-align: center;
}
table.terminologyTable {
	width: 800px;
	font-weight: 400;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 14px;
	/* margin-bottom: 20px; */
	border: black;
	/* border: 1px solid white; */
	border-collapse: collapse;
}
table.terminologyTable tr th {
	font-size: 12pt;
	font-weight: 600;
	text-align: center;
	color: black;
	background-color: none;
	padding: 4px;
	/* background-color: darkgray;
	padding: 2px;
	border: 1px solid white; */
}
table.terminologyTable tr th:first-child {
	font-size: 13pt;
	font-weight: 600;
	color: black;
	background-color: none;
	/* color: aliceblue;
	background-color: darkslategray; */
	padding: 2px;
}
table.terminologyTable tr td {
	/* background-color: Gainsboro; */
	background-color: rgba(30,79,120,0.89);
	padding: 4px;
	font-weight: 400;
	vertical-align: top;
	border: black;
	/* border: 1px solid white; */
	
}
table.terminologyTable tr td:first-child {
	font-size: 11pt;
	background-color: none;
	border-right: solid 1px black; 
    border-left: solid 1px black;
	font-weight: 600;
	color: white;
	padding: 5px;
	margin: 0px;
	vertical-align: top;
}
/* table.terminologyTable tr td:first-child {
	background-color: lightslategray;
	color: aliceblue;
	padding: 4px;
	margin: 0px;
	vertical-align: top;
} */
table.terminologyTable ol {
	padding: 0px;
	padding-left: 0px;
	margin: 0px;
}

#layout-main-below-break:nth-child(3) {
	display:none;
}